<% form_for(@blog) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :phonetic %><br />
    <%= f.text_field :phonetic %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </p>
  <p>
    <%= f.label :crowl_type %><br />
    <%= f.text_field :crowl_type %>
  </p>
  <p>
    <%= f.label :listed_count %><br />
    <%= f.text_field :listed_count %>
  </p>
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>