<h1>Listing blogs</h1>

<table>
  <tr>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= link_to blog.author, blog_path(blog.id) %></td>
    <td><%= link_to blog.title, blog_path(blog.id) %></td>
    <td><%= link_to blog.listed_count, blog_path(blog.id) %></td>
    
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div class="pagination"><%= will_paginate @brands %></div>
<%= link_to 'New blog', new_blog_path %>