<h1>
  商品が紹介されている芸能人ブログ一覧
</h1>

<table class="blog_table">
  <tr>
    <th></th>
    <th>ブロガー</th>
    <th>タイトル</th>
    <th>掲載数</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <th class="thumbnail"><%= link_to image_tag("http://capture.heartrails.com/tiny/shadow?#{blog.uri}", 
        :title => "#{blog.author} オフィシャルブログ #{blog.title}", 
        :alt => "#{blog.author} オフィシャルブログ #{blog.title}のスクリーンショット"), blog %></th>
    <td><%= link_to blog.author, blog %></td>
    <td><%= link_to blog.title, blog %></td>
    <td><%= link_to blog.listed_count, blog %></td>
    <% if @session[:user_id] == 1 %>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
      <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<div class="pagination"><%= will_paginate @brands %></div>

<% if @session[:user_id] == 1 %>
  <%= link_to 'New blog', new_blog_path %>
<% end %>