<p>
  <b>Author:</b>
  <%= link_to @blog.author, @blog %>
</p>

<p>
  <b>Phonetic:</b>
  <%= link_to @blog.phonetic, @blog %>
</p>

<p>
  <b>Title:</b>
  <%= link_to @blog.title, @blog %>
</p>

<p>
  <b>Listed count:</b>
  <%= link_to @blog.listed_count, @blog %>
</p>

<table>
<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.blog.author, post.blog %></td>
    <td><%= link_to post.blog_entry.title, post %></td>
    <td><%= link_to post.brand.name, post %><br>(<%= link_to post.brand.phonetic, post %>)</td>
    <!-- <td>
      <% unless post.product.nil? %>
        <%=h post.product.name %>
      <% end %>
    </td> -->
    <td><%= link_to post.blog_entry.content, post %></td>
    <td><%=h post.posted_date %></td>
    <% if @session[:user_id] == 1 %>
      <td><%= link_to 'NG Word', :controller => :ng_words, :action => :new, :id => post.brand.id %></td>
      <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<div class="pagination"><%= will_paginate @posts %></div>

<% if @session[:user_id] == 1 %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Destroy', @blog, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'NG Word Index', ng_words_path %> |
<% end %>
<%= link_to 'Back', :back %>