<div id="footer-content">
	<div class="column1">
		<h4><%= link_to '芸能人のブログで話題の商品をさがすならセレブログ', '/' %></h4>
		<ul class="list">
			<li><%= link_to 'Post', posts_path %></li>
			<li><%= link_to 'Blog', blogs_path %></li>
			<li><%= link_to 'Brand', brands_path %></li>
			<li><%= link_to 'About', '#' %></li>
			<li><%= link_to 'Contant', '#' %></li>
		</ul>
	</div>
</div>
<!-- end #fotter-content -->

<div id="footer">
	<p>(c) <%= @year %> <%= link_to 'celeb-log.info', 'http://celeb-log.info'%><br>
	  Presented by <%= link_to 'Ichigoichie corp.', "http://ichigoichie.com" %></p>
</div>
<!-- end #footer -->