<div id="header">
  <div id="logo">
    <h1><a href="/">celeb-log.info</a></h1>
  </div>
  <!-- end #logo -->
  <div id="header_container">
    <div id="menu">
      <ul>
        <% if controller.controller_name == 'posts' %><li class="current_page_item"><% else %><li><% end %>
          <%= link_to "トップへ", {:controller => 'posts', :action => 'index'} %>
        </li>
        <% if controller.controller_name == 'blogs' %><li class="current_page_item"><% else %><li><% end %>
          <%= link_to "ブログ一覧", {:controller => 'blogs', :action => 'index'} %>
        </li>
        <% if controller.controller_name == 'brands' %><li class="current_page_item"><% else %><li><% end %>
          <%= link_to "ブランド一覧", {:controller => 'brands', :action => 'index'} %>
        </li>
        <!-- <% if controller.controller_name == 'products' %><li class="current_page_item"><% else %><li><% end %>
          <%= link_to "Products", {:controller => 'products', :action => 'index'} %>
        </li> -->
        <!-- <li><%= link_to "About", "/about" %></li> -->
        <li><%= link_to 'お問合せ', 'mailto:info@celeb-log.info'%></li>
      </ul>
    </div>
    <!-- end #menu -->
  </div>
  <!-- end #header_container -->
</div>
<!-- end #header -->