<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Posts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'earthlingtwo/style' %>
</head>
<body>
<div id="wrapper">
  <%= render :partial => "/layouts/header" %>
  <div id="page">
    <p style="color: green"><%= flash[:notice] %></p>
    <div id="content">
      <div class="post">
        <div class="entry">
          <%= yield %>
        </div>
        <!-- end #entry -->
      </div>
      <!-- end #post -->
    </div>
    <!-- end #content -->
    <%= render :partial => "/layouts/sidebar" %>
  <!-- end #page -->
</div>
<!-- end #wrapper -->
<%= render :partial => "/layouts/footer" %>
<%= render :partial => "/layouts/analytics" %>
</body>
</html>
